<div class = "card-container">
  <div class = "classForm card">
  <h2><b>Edit:</b>{{editClass.name}} {{editClass.subName}}:</h2>
    <form
      action="/admin/class/{{editClass._id}}/edit"
      method="post"
    >
      <div>
        <label for="name" class="form-label"><b>Grade:</b></label>
        <input type="text" name="name" value="{{editClass.name}}" class="form-control"/>
      </div>
      <br />
      <div>
        <label for="subName" class="form-label"><b>Letter:</b></label>
        <input type="text" name="subName" value="{{editClass.subName}}" class="form-control"/>
      </div>
      <br />
        <div>
            <label for="professors" class="form-label"><b>Professors:</b></label>
            <select name="professors" multiple="true"  class="form-control">
            {{#each allProfessors}}
                <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
            </select>
        </div>
        <br>
      <button class="btn btn-secondary buton" style="background-color: #010158">Commit</button>
      <form action="/admin/class/{{editClass._id}}/delete" method="post">
          <button class="btn btn-secondary buton" style="background-color: #010158">Delete</button>
      </form>
    </form>
    <br>

    <div>
      <a href="/alumn/create" class="btn btn-secondary buton" style="background-color: #010158"> Add a new alumn</a>
    </div>
  </div>

</div>