<h2>Welcome to {{oneClass.name}} {{oneClass.subName}}:</h2>
<br />
<div class="class">
  <div class="oneClass card-group">
    <div class="container card">
      <span>Alumns:</span>
      <br />
      <div class="alumns">
        {{#each oneClass.alumns}}
          <a href="/alumn/{{_id}}/details">{{firstName}} {{lastName}}</a>
          <br />
        {{/each}}
      </div>
    </div>
    <div class="container card">
      <span>Professors:</span>
      <br />
      {{#each professors}}
        <a href="/admin/{{_id}}">{{firstName}} {{lastName}}</a>
        <br />
      {{/each}}
    </div>

    <br />
  </div>
  <br />

  <a
    href="/admin/class/{{oneClass._id}}/edit"
    class="btn btn-secondary buton"
    style="background-color: #010158"
  > Edit Class</a>

</div>