<div class = "card-group classList admin">


    <div class = "container card">
    <h2>Lista de Usuarios</h2>
        {{#each allUsers}}

        <li><a href="admin/{{_id}}">{{firstName}} {{lastName}}</a></li>
        <br>

        {{/each}}
    </div>
    <br>
    <div class = "container card adminCard">
        <h2>Lista de Clases</h2>

        {{#each allClasses}}
            <li><a href="admin/class/{{_id}}">{{name}} {{subName}}</a></li>
            <br>
        {{/each}}

        <a href="/admin/class/create/newClass" class = "btn btn-secondary"> Create a new Class</a>
    </div>
</div>