<div>

    <h2>Lista de Usuarios</h2>

    <div>
        {{#each allUsers}}

        <li><a href="admin/{{_id}}">{{firstName}} {{lastName}}</a></li>
        <br>

        {{/each}}
    </div>
    <br>
<h2>Lista de Clases</h2>
    <div>
        {{#each allClasses}}
        <li><a href="admin/class/{{_id}}">{{name}} {{subName}}</a></li>
        <br>
        {{/each}}
 <button><a href="/admin/class/create/newClass"> Create a new Class</a></button>
    </div>
</div>