<div>
    <div>
        <h2>Edit {{editUser.firstName}} {{editUser.lastName}} profile: </h2>
        <form action="/admin/{{_id}}/edit" method="post" enctype='multipart/form-data'>
            <div>
                <label for="image" class="form-label">Profile photo: </label>
                <input type="file" name="image" class="form-control">

            </div>

            <br>

            <div>
                <div>
                    <label for="firstName">Name: </label>
                    <input type="text" name="firstName" value="{{editUser.firstName}}">
                </div>
                <br>

                <div>
                    <label for="lastName">Last name: </label>
                    <input type="text" name="lastName" value="{{editUser.lastName}}">
                </div>
                <br>
                <div>
                    <label for="email">Email: </label>
                    <input type="email" name="email" value="{{editUser.email}}">
                </div>
                <br>
                <div>
                   <label for="tutorClass">Tutor of: </label>
                   <select name="tutorClass">
                        {{#each allClasses}}
                            <option value="{{this._id}}">{{this.name}} {{this.subName}}</option>
                        {{/each}}
                   </select>
                </div>
                </div>
                <br>

                <div>
                    <button class="btn btn-secondary"><a href="/admin"></a>Commit</button>
                </div>
            </div>
        </form>

        <form action="/admin/{{_id}}/delete" method="post">
            <button>Delete</button>
        </form>

</div>