<div>
  <h2>{{oneUser.firstName}}'s profile: </h2>
  <br />
  <img src={{oneUser.image}} alt="profile-photo" width="200px" />
  <div>

  </div>

  <div>
    <div>
      <h2>Name: {{oneUser.firstName}} {{oneUser.lastName}}</h2>
    </div>

    <br />

    <div>
      <p>Tutor of class: {{oneUser.tutorClass.name}} {{oneUser.tutorClass.subName}}</p>
    </div>
    <br>

    <div>
      <p>Email: {{oneUser.email}}</p>
    </div>

    <br />

    <div>
      <h5>Classes:</h5>
      <ul>
        {{#each this.userClasses.class}}
          <li><a href="/class/{{this._id}}">{{this.name}} {{this.subName}}</a></li>
        {{/each}}
      </ul>
    </div>

    <br />
  </div>

  <a href="/admin/{{oneUser._id}}/edit" class="btn btn-secondary">Edit</a>

</div>