<div class = "card-container">
    <div class = "classForm card">
        <h2>Edit {{editUser.firstName}} {{editUser.lastName}}'s profile: </h2>
        <form action="/admin/{{editUser._id}}/edit" method="post" enctype='multipart/form-data'>

            <div>
                <label for="image" class="form-label"><b>Profile photo:</b></label>
                <input type="file" name="image" class="form-control" class="form-control">
            </div>
            <br>
            <div>
            <div>
                <label for="firstName" class="form-label"><b>Name:</b></label>
                <input type="text" name="firstName" value="{{editUser.firstName}}" class="form-control">
            </div>
            <br>
            <div>
                <label for="lastName" class="form-label"><b>Last name:</b></label>
                <input type="text" name="lastName" value="{{editUser.lastName}}" class="form-control">
            </div>
            <br>
            <div>
                <label for="email" class="form-label"><b>Email:</b></label>
                <input type="email" name="email" value="{{editUser.email}}" class="form-control">
            </div>
            <br>
            <div>
                <label for="tutorClass" class="form-label"><b>Tutor of:</b></label>
                <select name="tutorClass" class="form-control">
                    {{#each allClasses}}
                        <option value="{{this._id}}">{{this.name}} {{this.subName}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <div>
                <label for="classes" class="form-label"><b>Classes: </b></label>
                <select name="classes" multiple="true" class="form-control">
                    {{#each allClasses}}
                        <option value="{{this._id}}">{{this.name}} {{this.subName}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <button class="btn btn-secondary buton" style="background-color: #010158"><a href="/admin"></a>Commit</button>
            <form action="/admin/{{editUser._id}}/delete" method="post">
                <button class="btn btn-secondary buton" style="background-color: #010158">Delete</button>
            </form>
        </form>
</div>