<div>
  <div class="index">
    <h2>Home</h2>
    <form action="/" method="post" class="d-flex">
      <input
        type="text"
        name="find"
        placeholder="Look for a specific alumn or class"
        class="form-control me-2"
        style="width: 300px;"
      />
      <button class="btn btn-secondary buton" style="background-color: #010158">Find it</button>
      <br />
    </form>

    {{#if this.errorMessage}}
      <p
        style="color: red; position:absolute; right: 295px; bottom: 618px"
      >{{errorMessage}}</p>
    {{/if}}
  </div>

  <br />

  <h4>All the comments your alumns received: </h4>
  <div class="comment-list">
    {{#each allComments}}
      <div class="container card comments">
        <h6><b>Made by:</b>
          {{this.madeBy.firstName}}
          {{this.madeBy.lastName}}</h6>
        <br />
        <p><b>Made to: </b>{{this.madeTo.firstName}}
          {{this.madeTo.lastName}}</p>
        <br />
        <p><b>Comment:</b> {{this.comment}}</p>
        <br />
        <p><b>Time: </b>{{this.createdAt}} </p>
      </div>
    {{/each}}
  </div>
</div>