<div class="text-center perfilUsuario card col-sm-6 col-md-6">
  <br />
  <div>
  <img src={{image}} alt="profile-photo" width="200px" class="card-img-top" />
  </div>
  <div class="card-body">
    <br />
      <h2>{{firstName}} {{lastName}}</h2>
    <div>
      <p>Email: {{email}}</p>
      <br />
      <div>
        <h5>Your classes:</h5>
        <ul>
          {{#each class}}
         <li><a href="/class/{{this._id}}"> {{name}} {{subName}}</a></li>

          {{/each}}
        </ul>
      </div>
    </div>
  <a href="/user/edit" class="btn btn-secondary ">Edit</a>
  </div>
</div>