<div class = "card-container">
    <div class=" text-center perfilAlumno card">
 
        <br>
        <div>
            <img src= {{image}} alt="profile-photo" style = "width:200px" class="card-img-top">
        </div>

        <br>

        <div class="card-body">
            <h3>{{firstName}} {{lastName}}</h3>
            <ul>
                <li>Class: {{classroom}}</li>
                <br>
                <li>Contact person: {{contactPerson}}</li>
                <br>
                <li>Contact email: {{contactEmail}}</li>
                <br>
                <li>Contact phone: {{contactEmail}}</li>
                <br>
            </ul>
       
            <br>
            {{#if this.isTutor}}
                <a href="/alumn/{{./_id}}/edit" class="btn btn-secondary buton" style="background-color: #010158">Edit</a>
            {{/if}}
        </div>

    </div>
    <br>
    <div>
        <h5>Comments: </h5>
        <br>
        <a href="/alumn/{{./_id}}/newcomment" class="btn btn-secondary buton" style="background-color: #010158">Add a new comment</a>
        <br>  
        <div class = "comment-list">
            {{#each this.alumnComments}}
                <div class="container card comments">
                    <h8><b>Made by:</b>{{this.madeBy.firstName}} {{this.madeBy.lastName}}</h8>
                    <br>
                    <p><b>Comment: </b>{{this.comment}}</p>
                    <br>
                    <p><b>Time: </b>{{this.createdAt}} </p>
                </div>
            {{/each}}
            <br>
        </div>
    </div>
</div>