<div>
    <div class=" align-items-center text-center perfilAlumno card col-sm-6 col-md-6">
 
        <br>
        <div>
            <img src= {{image}} alt="profile-photo" width="200px" class="card-img-top">
        </div>

        <br>

        <div class="card-body">
            <h3>{{firstName}} {{lastName}}</h3>
            <ul>
                <li>Class: {{classroom}}</li>
                <br>
                <li>Contact person: {{contactPerson}}</li>
                <br>
                <li>Contact email: {{contactEmail}}</li>
                <br>
                <li>Contact phone: {{contactEmail}}</li>
                <br>
            </ul>
       
            <br>
    {{#if this.isTutor}}
        <button class="btn btn-secondary "><a href="/alumn/{{./_id}}/edit" >Edit</a></button>
    {{/if}}
        </div>

    </div>
    <br>
    <div>
        <h5>Comments: </h5>
        {{#each this.alumnComments}}
            <div>
                <h8>Made by: {{this.madeBy.firstName}} {{this.madeBy.lastName}}</h8>
                <p>Comment: {{this.comment}}</p>
                <p>Time: {{this.createdAt}} </p>
            </div>
        {{/each}}

        <button class="btn btn-secondary "> <a href="/alumn/{{./_id}}/newcomment" >Add a new comment</a></button>
    </div>
</div>