<div>
  <h2>Welcome to {{oneClass.name}} {{oneClass.subName}}:</h2>
  <div>
      <span>Alumnos:</span>
    <ul>
      {{#each oneClass.alumns}}
        <li><a href="/alumn/{{_id}}/details">{{firstName}} {{lastName}}</a></li>
      {{/each}}
    </ul>
    <span>Profesores:</span>
    <ul>
      {{#each professorsClass}}
        <li><a href="/admin/{{_id}}">{{firstName}} {{lastName}}</a></li>
      {{/each}}
    </ul>

    <br>
      {{#if isTutor}}
        <button><a href="/alumn/create"> Add a new alumn</a></button>
      {{/if}}
  </div>

  

</div>