<div>
  <h2>Welcome to {{oneClass.name}} {{oneClass.subName}}:</h2>
  <div class="allCards card">
      <span>Alumnos:</span>
    <br>
      {{#each oneClass.alumns}}
        <a href="/alumn/{{_id}}/details">{{firstName}} {{lastName}}</a>
        <br>
      {{/each}}
    
    <span>Profesores:</span>
    <br>
      {{#each professorsClass}}
        <a href="/admin/{{_id}}">{{firstName}} {{lastName}}</a>
        <br>
      {{/each}}
    

    <br>
  </div>
      {{#if isTutor}}
        <button><a href="/alumn/create"> Add a new alumn</a></button>
      {{/if}}

  

</div>