    <h2>Class list:</h2>
<div>
    
    <div class="allCards card-group">
        {{#each classes}}
        <div  class="card">
            <h5><a href="/class/{{_id}}">{{name}} {{subName}}</a></h5>
            <ul>
            {{#each alumns}}
                <a href="/alumn/{{_id}}/details">{{firstName}} {{lastName}}</a>
                <br>
            {{/each}}
            </ul>
            <br>
        </div>
        {{/each}}
    </div>
</div>