<div>
    <h2>Class list:</h2>
    
    <div>
        {{#each classes}}
        <div class ="text-center card col-sm-2 col-md-2 classIndex">
            <h5><a href="/class/{{_id}}">{{name}} {{subName}}</a></h5>
            <ul>
            {{#each alumns}}
                <li><a href="/alumn/{{_id}}/details">{{firstName}} {{lastName}}</a></li>
            {{/each}}
            </ul>
            <br>
        </div>
        {{/each}}
    </div>
</div>